$color-primary-dark: #231f20;
$color-primary: #853109;
$color-primary-light: #fff;
$color-primary-text: #231f20;
$color-accent: #ed1c24;
$color-accent-dark: #733236;
$color-accent-light: #ffcb04;
$color-accent-mid: #f67414;