@import "colors";

$box-shadow: 0 1rem .5rem -1rem rgba($color-primary-dark, .5);
$hover-shadow-dark: 0 .15rem .1rem rgba($color-primary-dark, .5);

$image-shadow: 0 .4rem .8rem -.4rem $color-primary-dark;