@import "../variables/dimensions";
@import "../variables/colors";

@mixin heading-section {
  text-align: center;
  font-family: 'Poiret One', sans-serif;
  font-size: 8vmin;
  padding-bottom: 1rem;
}

@mixin img-responsive {
  width: 100%;
  height: auto;
}

@mixin media-sm {
  @media (min-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin media-m {
  @media (min-width: #{$breakpoint-m}) {
    @content;
  }
}

@mixin text-link {
  transition: .4s;
  text-decoration: none;
  color: $color-accent-dark;

  &:focus,
  &:hover {
    text-decoration: underline;
    color: $color-primary;
  }

  &:active {
    color: $color-accent-dark;
    text-shadow: none;
  }
}